
// Invalid code examples  

//  Rulesets

//  1. General rules

.class-5-1-A {
    color: hsl(60, 100%, 50%);
    font-size: 16px;
}
.class-5-1-B {
    color: hsl(0, 100%, 50%);
    font-size: 20px;
}

//  A comment concerning ruleset

.class-5-1-C {
    color: hsl(240, 100%, 50%);
    font-size: 24px;
}

.class-5-1-D {

    .class-5-1-E {
        color: hsl(120, 100%, 50%);
        font-size: 24px;
    }

    .class-5-1-F {
        color: hsl(12, 100%, 50%);
        font-size: 24px;
    }
}

//  Selectors

//  1. General rules

.class-6-1-A {
    font-size: 12px;
}

.class-6-1-B {
    font-size: 14px;
}

.class-6-1-A {
    color: hsl(24, 100%, 50%);
}

//  2. Selector combinators

.class-6-2-A  .class-6-2-B {
    font-size: 20px;
}

.class-6-2-C>.class-6-2-D {
    font-size: 12px;
}

//  6. Selectors lists

.class-6-6-A ,

.class-6-6-B {
    font-size: 1rem;
    font-weight: 400;
}

.class-6-6-C,.class-6-6-D {
    font-size: 1rem;
    font-weight: 400;
}

//  Units

//  2. Value - unit pairs

.class-11-2 {
    margin: 0px;
    padding: 0rem 1rem;
}

//  Colours

//  1. Coding colours

.class-12-1 {
    background-color: #ffff00;
    color: red;
}

// Text

//  1. Coding fonts properties

.class-13-1 {
    font-family: "MySuperFont", Times New Roman, Times, Times;
    font-weight: normal;
}